body {
  background-image: url('./images/115.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.HomePage {
  text-align: center;
  padding-top: 10rem;
  color: white;
}



/* Position on cards */
  .truck-container {
    height: 100%;
    width: 91%;
    padding-left: 10em;
   
  }


  /* Indv card */
.cards {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
   row-gap: 25px;
}

.card {
  box-shadow: 0 0 7px 0 #ddd;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 300px;
}

/* cards image */
.card .image img { 
  max-width: 300px;
  max-height: 225px;
  width: auto;
  height: auto;
}

/* about page */
.about {
  color: white;
  text-align: center;
  padding-left: 30rem;
  padding-right: 30rem;
  font-size: x-large;
}

/* sales hours */
.sales-hours {
  color: white;
  text-align: center;
  padding-bottom:10rem;
  font-size: xx-large;
}

ul.no-bullets {
  list-style-type:none ;
}

.sales-table {
  text-align: center;
  padding-left: 48.5rem;
}

/* form */
.input-form {
  text-align: center;
  margin-top: 10rem;
  
}

#outlined-basic {
  background-color: lightgray;
  align-content: center;
  font-size: large;
  color: black;
  
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  color: white;
}