body {
  background-image: url('./images/11400.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




  .truck-container {
    height: 100%;
    width: 93%;
    padding-left: 6em;
   align-items: center;
  }

.cards {
  
  
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
   row-gap: 25px;
  

}

.card {
  
  box-shadow: 0 0 7px 0 #ddd;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 300px;
}
.card .image img {
  
  max-width: 300px;
  max-height: 225px;
  width: auto;
  height: auto;
}
